.createPizza-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px dotted black;
}

.createPizza-block-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.createPizza-choices-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px dotted black;
}

.createPizza-choices-header {
    border: 1px dotted black;
}

.createPizza-choices-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    border: 1px dotted black;
}

.createPizza-choices-item {
    border: 1px dotted black;
}

.createPizza-toppings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createPizza-btns-container {
    display: flex;
    justify-content: center;
}

.createPizza-btn {
    margin: 10px;
}