.createPizza-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
}

.createPizza-block-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.createPizza-choices-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    flex-basis: 18%;
    border: 2px solid black;
    border-radius: 10px;
}

.createPizza-choices-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.createPizza-toppings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.createPizza-toppings-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 18%;
    border: 2px solid black;
    border-radius: 10px;
}

.createPizza-btns-container {
    display: flex;
    justify-content: center;
}

.createPizza-btn {
    margin: 10px;
}