.order {
	display: flex;
	flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
}

.order-block {
	display: flex;
	flex-direction: row;
	align-items: center; /* Align items horizontally in the center */
	justify-content: space-around;
	margin-right: 20px; /* Adjust the margin as needed for spacing between the blocks */
	margin-bottom: 20px; /* Add margin below each order block for spacing */
	border: 2px solid #ccc; /* Border color */
	padding: 10px; /* Padding around the text */
	border-radius: 8px; /* Border radius for rounded corners */
	width: 800px; /* Set a fixed width for each block */
}

.order-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 20px;
}

.order-title,
.date {
	margin-top: 5px; /* Add margin above Order # and Date for spacing */
	margin-bottom: 5px; /* Add margin below Order # and Date for spacing */
}

.order-title::after {
	margin-right: 5px; /* Adjust the margin as needed */
}

.date::before {
	margin-right: 5px; /* Adjust the margin as needed */
}

.delete-btn {
	/* ? */
	font-size: 40px;
}
.delete-btn:hover {
	/* ? */
	color: red;
}
.pizzas-in-order {
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
}

.create-order-container {
	padding: 20px;
}

.create-order-container button{
	margin: 10px;
}