body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* PRIMARY */
:root {
	--primary: #ffb400;
	--secondary: #00a6ed;
	--info: #7fb800;
	--warning: #f6511d;
	--white: #ffffff;
	--offWhite: #f2f2f3;
	--dark: #3b3b3b;
	--outline: #c3c0c0;
	--appBackground: #dddade;
}

/* PREVENTS */
/* This prevents all the links in the app from having default underline */
a {
	text-decoration: none;
	color: inherit;
}
/* This prevents all the links in the app from turning purple after visiting */
a:visited {
	color: inherit;
}
/* This prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
	outline: none;
}
